<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
      <h1>BURGERS</h1>
      <div class="col=xs-6 text-center" class="task">
        <div class="row">
          {{!-- Loop through burger data as long as this.devoured is = true--}}
          {{#each burger_data}}
          {{#unless this.devoured}}
          <div class="col-xs-9 text-center">
            <p>{{this.id}}. {{this.burger}}</p>
          </div>
          <div class="col-xs-3 text-center">
            <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
          <input type="hidden" name="burger_id" type="text"
          value={{this.id}}>
          <button type="submit" class="btn btn-default">Eat The Burger</button>
          </form>
          </div>
          {{/unless}}
           {{/each}}
        </div>
      </div>
      <div clas"col-xs-6 text-center" class="task">
        {{#each burger_data}}
        {{#if this.devoured}}
          <p>{{this.id}} {{this.burger}} </p>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center enter_section">
      <form action="/api/new-burger" method="POST">
      <input type="text" name="name" class="form-control"
      value="" id="enter_text">
      <button type="submit" class="btn btn-primary" id="text-enter-button">Submit!</button>
      </form>
      <p>Enter in the burger you want to eat.</p>
    </div>
  </div>
</div>
</div>